/*
Theme Name: Twenty Seventeen Child Theme
Theme URI: 
Description: A child theme of Twenty Seventeen
Author: Alyssa Willis
Author URI: <your website>
Template: twentyseventeen
Version: 0.1.0
*/

p {color: palevioletred;

   font-family: "PT Serif";
}
.site-title {
   font-family: "Source Sans Pro";
}

.social-navigation a {background-color: #000000;}
h2.widget-title {color:  #000000;}


.icon {
    fill: #cccccc;}



