/*
Theme Name: Twenty Seventeen Child Theme
Theme URI: 
Description: A child theme of Twenty Seventeen
Author: Alyssa Willis
Author URI: img210.awillis1.imgd.ca/portfolio
Template: twentyseventeen
Version: 0.1.0
*/

p {
    color: #000000;
    font-family: 'Montserrat', sans-serif;
}
.site-title {
   font-family: 'Montserrat', sans-serif;
   font-weight: 600;
}

.social-navigation a {
    margin-left: 50px; 
    margin-right: 5px; 
    background-color: #16121a; 
    fill: #ffffff;
}

h2.widget-title {
    color:  #16121a;
}

h2.entry-title {
    color: #16121a;
}

.entry-title a {
    color: #16121a;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

time.entry-date.published {
    display: none;
}

h1.page-title {
    display: none;
}

h1.entry-title {
    display: none;
}

.page-id-17 .site-content {
    margin: 0; 
    padding: 0;
} 

/* .page-id-17  .content-area {
    display:none;
} */

.widget_recent_entries {
    display: none;
}

.widget_categories {
    display: none;
}

.widget_nav_menu {
    display: none;
}

div.wrap {
    margin: 10; 
    padding: 10;
}

div.entry-content {
    margin-left: 100px;
}

.page-id-19 header.entry-header {
    display: none;
}

/* .page-id-19 div.wrap {margin: 0; padding:0; margin-right: 250px;} */

/* .page-id-19 .main-navigation {margin-left: 50px;}

.page-id-19 .social-navigation a {margin-left: 50px;} */

.main-navigation a {
    color: #000000;
}

.main-navigation a:hover {
    color: #a48179;
}

.main-navigation .menu-item {
    color: #000000;
}

.main-navigation .menu-item a:hover {
    color: #a48179; 
    background-color: #ffffff;
}

.page-id-2 .entry-content {
    margin: 0; 
    padding:0; 
    margin-top: 0; 
    margin-bottom: 20px;
}

.byline {
    display: none;
}

.author-vcard {
    display: none;
}

.entry-meta {
    display: none;
}

.page-id-17 .footer {
    overflow: hidden;
}

.single-featured-image-header {
    display: none;
}

.post-thumbnail {
    width: 60%; 
    height: 60%;
}

.bottom-info {
    color: #000000;
    font-family: "Montserrat", sans-serif;
    float: left;

                }

.bottom-info a {
    color: #a48179;
}

.bottom-info a:hover {
    color: #000000;
    text-decoration: none;
}

.page-id-2 div.wrap {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.page-id-2 .social-navigation {
    padding: 20px;
}

.page-id-2 .bottom-info {
    padding: 10px;
}

.pagination.dark {
    display: none;
}

.nav-subtitle {
    color: #a48179;
}

.nav-title {
    color: #000000;
    text-transform: uppercase;
}

div.element.element_1.excerpt {display: none;}