/*
Theme Name: Twenty Seventeen Child Theme
Theme URI: 
Description: A child theme of Twenty Seventeen
Author: Alyssa Willis
Author URI: img210.awillis1.imgd.ca/portfolio
Template: twentyseventeen
Version: 0.1.0
*/

p {color: #000000;

   font-family: 'Montserrat', sans-serif;
}
.site-title {
   font-family: 'Montserrat', sans-serif;
   font-weight: 600;
}

.social-navigation a {margin-left: 50px; background-color: #16121a; fill: #ffffff;}

h2.widget-title {color:  #16121a;}



h2.entry-title {color: #16121a; }

.entry-title a {color: #16121a;
                 font-family: 'Montserrat', sans-serif;
   font-weight: 600;}

time.entry-date.published { display: none;}

h1.page-title {display: none;}

h1.entry-title {display: none;}

.page-id-17 .site-content {display: none;}

.widget_recent_entries {display: none;}

.widget_categories {display: none;}

.widget_nav_menu {display: none;}

div.wrap {margin: 10; padding: 10;}

div.entry-content {margin-left: 100px;}

.page-id-19 header.entry-header {display: none;}

/* .page-id-19 div.wrap {margin: 0; padding:0; margin-right: 250px;} */

/* .page-id-19 .main-navigation {margin-left: 50px;}

.page-id-19 .social-navigation a {margin-left: 50px;} */

.main-navigation a {color: #000000;}

.main-navigation a:hover {color: #a48179;}

.main-navigation .menu-item {color: #000000;}

.main-navigation .menu-item a:hover {color: #a48179; background-color: #ffffff;}

.page-id-2 div.wrap {margin: 10; padding: 10; margin-top: 0;}

